
html, .water {
  background-color: darkblue
}

body {
  background-color: black;
  background-image: 
   url(http://www.script-tutorials.com/demos/360/images/stars.png);
  display: grid; 
  margin: 0;
  grid-template-rows: repeat(2, 400px);
  grid-template-areas: 
                        "vessel"
                        "water"
                        }   

.stars {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:50%;
    display:block;
    
  }
        
#vessel {
    grid-area: vessel;
    position: relative;
    z-index: 0;
    top: 262px;
    right: 400px;
    }

.iceberg {
    grid-area: vessel;
    position: relative;
    top: 180px;
    left: 300px;
    z-index: 1;
    transform: scale(0.8);
       }

.water {
    grid-area: water;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
        
}

.water iframe, 
.water img {
  margin: 30px 15px;
}

.moon {
    position: absolute;
    top: 30px;
    right: 100px;
    height: 10rem;
    width: 10rem;
    transform: scale(0.6);
    background-color:black;
    box-shadow: 50px 0px #f3d076;
    border-radius: 50%;
     }
  
  #time {
    text-align:center;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    padding-top: 50px;
    color: white;
     }

  #wreck {
   float: right; 
   margin-right:100px;
   visibility: hidden;
    }

@keyframes moving_sinking {
    0% {
       -webkit-transform: translate(0px,0);
    }

    
    60% {
      -webkit-transform: translate(950px,0);
    }
  
   75% {
        -webkit-transform: translate(950px,20px) rotate(5deg);
    }
   
   80% {
        -webkit-transform: translate(950px,90px) rotate(20deg);
    }

  90% {
    -webkit-transform: translate(870px,210px) rotate(90deg);
}
   
    100% {
       -webkit-transform: translate(870px,360px) rotate(90deg);
      
    }
}
