

:root {
    --translateX: 0%;
    }


body {   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: black;
    margin: 0;
       
}


.sky {
    position:relative;
    background-image: url(./img/stars.png);
    height: 50vh;
}

.sea {
    background-color: darkblue; 
    position: absolute;
    bottom: 0px;
    height: 50vh;
    width: 120vw;
    z-index: 2; 
 }

 #time {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    padding-top: 3%;
    color: white;
 }

 #signal {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: orange;
  padding-top: 1%;
 }

.container_vessel, 
.iceberg, 
.container_vessel_pieces {
  display: flex;
  position: absolute;
  bottom: 0;
  align-items: flex-end;
  margin-left: 2%;
  }

 .iceberg {
    bottom: -10%;
    left: 40%;
    z-index: 1;
    max-width: 350px;
}

.iceberg img {
    width: 50%;
}

.container_vessel_pieces {
left: 59%;
visibility: hidden;
}


 #vessel-front, 
 #vessel-rear  {
    width: 160px;
    height: 100px;
    top: 8%; 
    position: relative;
    z-index: 0; 
    align-content: flex-end;
 }
 
  #vessel-front {
    top: 8px;   
  }
  

#funnel1,
#funnel2,
#funnel3,
#funnel4 {
  position: absolute;
  top: 27%;
  right: 30px;
}

#funnel2 {
  right: -10px;
}

#funnel3, 
#funnel4 {
  top: 20%;
  right: 75%;
}

#funnel4 {
 right: 55%;
}


#lifeboat_left,
#lifeboat_right {
  visibility: hidden;
  background-color: #e4e0e0;
  width: 18px;
  height: 5px;
  transform: skew(57deg);
  position: relative;
  top: 45px;
  z-index: 3;
}

#lifeboat_right {
  transform: skewX(-57deg);
  top: 40px;
}

#people_in_sea {
  position: relative;
  height: 3px;
  width: 3px;
  z-index: 3;
  background-color: #1192b9;
  border-radius: 50%;
  display: inline-block;
}

.container_wifi {
  position: relative;
    top: -90px;
    right: -75px;
    width: 50px;
}

#wifi1, 
#wifi2, 
#wifi3 {
 position: absolute;
 visibility: hidden;
 top: -70px;
 right: 100px;
}

#wifi2 {
  top: -50px;
}

#wifi1 {
  top: -30px;
}

.signal_text {
  color:orange; 
  font-size:35px;
}

.container_mm {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  margin-inline: auto;
  z-index: 99;
}

.container_mm img {
    display: flex;
    margin: 3% auto;
}

.container_reload {
   width: fit-content;
   margin: 10% auto;
   position: relative;
}

#overlay_reload {
  display: none;
  width: 10%;
  height: auto;
  left: -100px;
  margin: 0 auto;
  position: absolute;
  z-index: 999;
}


@keyframes moving_vessel_complete {

  from {left: 0%;}
  to {left: 59%;}
}

@keyframes sinking_vessel_complete {

    0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(60px) rotate(25deg);
  }
  
}

  /*

   Wordt niet meer gebruikt..


@keyframes moving_sinking_front {

  0% {
    -webkit-transform: translate(0px, 0);
  }


  70% {
    -webkit-transform: translateY(17px) rotate(10deg);

  }



0% {
    -webkit-transform: translateY(60px) rotate(30deg);

  }

30% {
    -webkit-transform: translateY(80px) rotate(55deg);
    
  }


50% {
    -webkit-transform: translateY(250px) rotate(55deg);
  }


  100% {
    -webkit-transform: translate(300px, 400px) rotate(60deg);

  }

}
*/

@keyframes moving_sinking_rear {
 /*
  0% {
    -webkit-transform: translateY(15px) rotate(30deg);
  }
*/
 0% {
    -webkit-transform: translateY(5px) rotate(15deg);
  }

70% {
    -webkit-transform: translateY(30px) rotate(60deg);
  }

  /*
  60% {
    -webkit-transform: translateY(14px) rotate(75deg);
  }
   70% {
    -webkit-transform: translateY(16px) rotate(85deg);
  }
*/
80% {
    -webkit-transform: translateY(35px) rotate(80deg);

}

 /*
85% {
    -webkit-transform: translateY(40px) rotate(85deg);

  }
 
90% {
    -webkit-transform: translateY(50px) rotate(90deg);

  }

  95% {
    -webkit-transform: translateY(90px) rotate(90deg);

  }
    */

  100% {
    -webkit-transform: translateY(120px) rotate(85deg);
  }

}


@keyframes falloff_funnels_back {

  25% {
    -webkit-transform: translateY(70px) rotate(90deg);
  }

  100% {
    -webkit-transform: translateY(200px);
  }

}


@keyframes falloff_funnels_front {

  25% {
    -webkit-transform: rotate(90deg);
  }

  100% {
    -webkit-transform: translateY(300px);
  }

}

@media (max-width: 1400px) {

#vessel-complete img, 
#vessel-front img, 
#vessel-rear img {
  width: 80%;
  height: auto;
}

#vessel-front {
  left: -33px;
  top: 9px;
}

#funnel1,
#funnel2 { 
  top: 45%;
  right: 64px;
}

#funnel2 {
  right: 38px;
}

#funnel3, 
#funnel4 {
  top: 35%;
  right: 85%;
}

#funnel4 {
 right: 55%;
}

}


/*
@media (max-width: 1100px) {

  .container_vessel_pieces {
    right: -220%;
  }

#vessel-front {
  top: 9px;
}
}


@media (max-width: 1000px) {

  .container_vessel_pieces {
    right: -190%;
  }

#vessel-complete img, 
#vessel-front img, 
#vessel-rear img {
  width: 60%;
  height: auto;
}

#vessel-front {
  left: -85px;
  top: 5px;
 }

#funnel1,
#funnel2 { 
  top: 57%;
  right: 80px;
}

#funnel2 {
  right: 60px;
}

#funnel3, 
#funnel4 {
  top: 50%;
  right: 75%;
}

#funnel4 {
 right: 65%;
}
}


@media (max-width: 875px) {


  .container_vessel_pieces {
    right: -170%;
  }

 #time {
    font-size: 20px;
 }
}


@media (max-width: 775px) {

  .container_vessel_pieces {
    right: -150%;
  }
}

*/

@media (max-width: 700px) {

  .sea {
    width: 150vw;
  }

#vessel-rear {
 left: 115px;
 bottom: -3px;
}

#vessel-front {
  left: 33px;
     }

 #vessel-complete img, 
 #vessel-front img, 
 #vessel-rear img {
    width: 50%;
 }

 .container_wifi {
   top: -40px;
 }

 #wifi2 {
  top: -40px;
}

#wifi3 {
  top: -50px;
}

#funnel1,
#funnel2 { 
  top: 64%;
  right: 90px;
}

#funnel2 {
  right: 75px;
}

#funnel3, 
#funnel4 {
  top: 57%;
  right: 85%;
}

#funnel4 {
 right: 70%;
}

}

@media (max-width: 600px) {


#vessel-complete img, 
#vessel-front img, 
#vessel-rear img {
  width: 40%;
}

 #vessel-front img, 
 #vessel-rear img {
    width: 50%;
 }

#funnel1,
#funnel2 { 
  top: 65%;
  right: 90px;
}

#funnel2 {
  right: 75px;
}

#funnel3, 
#funnel4 {
  top: 58%;
  right: 82%;
}

#funnel4 {
 right: 67%;
}

}

@media (max-width: 575px) {

 #time {
    font-size: 10px;
 }
}


@media (max-width: 550px) {

  #vessel-rear {
    top: 2px;
  }

#vessel-front {
  top: 6px;
  left: 3px;
 }

 #vessel-front img, 
 #vessel-rear img {
    width: 40%;
 }

#funnel1,
#funnel2 { 
  top: 70%;
  right: 107px;
}

#funnel2 {
  right: 98px;
}

#funnel3, 
#funnel4 {
  top: 62%;
  right: 85%;
}

#funnel4 {
 right: 70%;
}

}

@media (max-width: 450px) {

.sea {
  width: 180vw;
}

}

/*
@media screen and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }

.container_vessel {
  top: 0%;
  height: 95%;
  align-items: flex-end;
}

#vessel-rear {
  top: -1.5%;
}

#vessel-front {
  left: -15%;
  top: 0%;
}

.sea {
  width: 100vh;
}
}
*/