html,
.water {
  background-color: darkblue
}

body {
  background-color: black;
  background-image:
    url(./pics/stars.png);
  display: grid;
  margin: 0;
  grid-template-rows: repeat(2, 400px);
  grid-template-areas:
    "vessel"
    "water"
}

.relative {
  position: relative;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  display: block;
  
}

#vessel-front,
#vessel-rear {
  grid-area: vessel;
  width: 160px;
  height: 100px;
  position: relative;
  z-index: 0;
  top: 335px;
  right: -195px;
}

#vessel-rear {
  right: -24px;
  top: 344px;

}

#vessel-rear_between {
  position: absolute;
  right: -35px;
  top: 55px;
  width: 35px;
  height: 5px;
  background-color: #82271d;
}

#funnel1,
#funnel2,
#funnel3,
#funnel4 {
  grid-area: vessel;
  position: absolute;
  top: 0px;
  right: 30px;
}

#funnel2 {
  right: -10px;
}

#funnel3 {
  top: 10px;
  right: 130px;
}

#wifi1, 
#wifi2, 
#wifi3 {
  position: absolute;
 visibility: hidden;
  top: -70px;
  right: 130px;
}

#wifi2 {
  top: -50px;
}

#wifi1{
  top: -30px;
}

#wifi3{
  right: 125px;
}

#funnel4 {
  top: 8px;
  right: 85px;
}

.iceberg {
  grid-area: vessel;
  position: relative;
  top: 180px;
  left: 300px;
  z-index: 2;
  transform: scale(0.8);
}

.arrow,
#yelarr {
  grid-area: vessel;
  font-family: Arial;
  position: relative;
  top: 260px;
  left: 80px;
  color: yellow;
}

#yelarr {
  transform: rotate(170deg) scale(0.7);

}


.water {
  grid-area: water;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;

}

.water #map,
.water img {
  margin: 30px 15px;
}

#map {
  height: 300px;
  width: 300px;
}


#time {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  padding-top: 50px;
  color: white;
 }

#time br {
  height: 15px;
}

#wreck {
  float: right;
  margin-right: 100px;
  visibility: hidden;
}

#lifeboat_container,
#people {
  grid-area: vessel;
  display: inline-block;
}

#lifeboat_left,
#lifeboat_right {
  visibility: hidden;
  background-color: #e4e0e0;
  width: 18px;
  height: 5px;
  transform: skew(57deg);
  position: relative;
  top: 455px;
  z-index: 3;
}

#lifeboat_right {
  transform: skewX(-57deg);
  top: 450px;
}

#people_in_sea {
  position: relative;
  height: 3px;
  width: 3px;
  z-index: 3;
  background-color: #1192b9;
  border-radius: 50%;
  display: inline-block;
}

#overlay,
#overlay_reload {
  width: 100%;
  display: none;
  position: absolute;
  top: 15%;
  z-index: 99;
}

#overlay_reload {
  display: block;
  z-index: 999;
}

#overlay img {
  display: block;
  margin: 0 auto;
}

@keyframes moving_sinking_front {
  0% {
    -webkit-transform: translate(0px, 0);
  }


  60% {
    -webkit-transform: translateX(950px);
  }

  70% {
    -webkit-transform: translateX(950px) translateY(17px) rotate(10deg);

  }

  75% {
    -webkit-transform: translateX(930px) translateY(60px) rotate(30deg);

  }

  80% {
    -webkit-transform: translateX(950px) translateY(80px) rotate(55deg);
  }


  83% {
    -webkit-transform: translateX(950px) translateY(250px) rotate(55deg);
  }


  100% {
    -webkit-transform: translateX(1150px) translateY(400px) rotate(55deg);

  }

}

@keyframes moving_sinking_rear {
  0% {
    -webkit-transform: translate(0px, 0);
  }


  60% {
    -webkit-transform: translateX(950px);
  }

  70% {
    -webkit-transform: translateX(950px) translateY(-13px) rotate(10deg);
  }

  75% {
    -webkit-transform: translateX(950px) translateY(-22px) rotate(30deg);
  }

  80% {
    -webkit-transform: translateX(963px) translateY(0px) rotate(15deg);

  }

  95% {
    -webkit-transform: translateX(975px) translateY(50px) rotate(80deg);

  }

  100% {
    -webkit-transform: translateX(975px) translateY(70px) rotate(80deg);
  }

}


@keyframes falloff_funnels_back {

  25% {
    -webkit-transform: translateY(70px) rotate(90deg);
  }

  100% {
    -webkit-transform: translateY(200px);
  }

}


@keyframes falloff_funnels_front {

  25% {
    -webkit-transform: rotate(90deg);
  }

  100% {
    -webkit-transform: translateY(300px);
  }

}

@media (max-width: 1350px) {

  #time {
    z-index: 10;
  }
}